@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;1,100&display=swap');
@import 'tailwindcss';



@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source'../../storage/framework/views/*.php';
@source'../../vendor/masmerise/livewire-toaster/resources/views/*.blade.php';
@source "../**/*.blade.php";
@source "../**/*.js";
@source "../**/*.vue";

@theme {
  --color-abu: #3e4851;
  --color-chocolate: #7b4b3a;
}



.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-thin-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.background-user {
  background-color: #f3f4f6;
}